
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&family=Rajdhani:wght@500;600;700&display=swap')
  $bg-dark: #0f0c20
  $card-db: rgba(25, 20, 50, 0.7)
  $neon-cyan: #00f3ff
  $neon-purple: #b500fe
  $neon-pink: #ff007f
  $text-main: #fff

  *
    box-sizing: border-box
    margin: 0
    padding: 0

    body
      background: $bg-dark
      background-image: radial-gradient(circle at 50% 0%, #201343 0%, $bg-dark 70%)
      color: $text-main
      font-family: Arial, Helvetica
      min-height: 100vh
